{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/card_style.css') }}">
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-heading">
    <h2>Status</h2>
  </div>
  <div class="card-body">
    <p>Web Application: Active</p>
    <p>Configuration Type: {{ config_type }}</p>
    <p>Database Version: {{ database_version }}</p>
  </div>
</div>
{% endblock %}
