.cards-container {
  text-align: center;
  font-size: 2.0rem;
}

.card {
  background: var(--card-bg-color);
  border-radius: 5px;
}

.card + .card {
  margin-top: var(--spacer);
}

.card-heading {
  margin-bottom: var(--spacer);
  padding: var(--spacer) var(--spacer) 8px;
  border-bottom: 1px solid var(--bg-color);
  font-weight: 300;
}

.card-body {
  padding: 8px var(--spacer) var(--spacer);
}

.card-body p {
  margin-bottom: 0.5em;
}
